.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 50px ;
    background: linear-gradient(135deg, #f8f9fa, #e9ecef);
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22);
  }
  
.about-left {
    flex: 1;
    text-align: center;
  }
  
.about-img {
    width: 100%;
    max-width: 650px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
.about-img:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3.5);
  }
  
.about-right {
    flex: 1;
    padding: 20px;
    text-align: left;
  }
  
.about-right h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  
.about-right h2 {
    font-size: 35px;
    font-weight: 400 ;
    color: #343a40;
    margin-bottom: 15px;
  }
  
.about-right p {
    font-size: 17px;
    color: #495057;
    line-height: 1.6;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .about {
      flex-direction: column;
      text-align: center;
    }
    
    .about-right {
      padding-top: 20px;
    }
  
    .about-img {
      max-width: 90%;
    }
  }
  