.contact{
    background-color:rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center ;
}
.contact img{
    padding-left: 70px;
    height: 179px;
    width: auto;
}
.contact-col{
    padding-left: 40px;
    justify-content: space-between;

}